/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (primary: #525ddc);

/**
** Prevent Bootstrap error on yarn build:production
*/
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
